<link href="view/editor/editor.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="lib/codemirror/lib/codemirror.css">

<div id="editor-holder" class="view-holder draggable-item">
  <div id="editor-title" class="view-title draggable-handler">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-note"></span>
    </div>
    Assembly editor
  </div>
  <div id="editor-body" class="view-body">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td valign="top">
          <div class="view-sub-title">
            <div class="icon-holder">
              <span class="ui-icon ui-icon-pencil"></span>
            </div>
            Assembly
          </div>
          <div id="editor-code-area-holder">
                            <textarea id="editor-code-area">
.def LCD_OP  0xfa
.def LCD_ARG0  0xfb
.def LCD_ARG1  0xfc

.db LCD_OP 0x00
.db LCD_ARG0 0x00
.db LCD_ARG1 0x00

.def X_INC 0xf9
.def Y_INC 0xf8

.db X_INC 60
.db Y_INC 50

.def NO_OP 0xf7
.def LINETO_OP 0xf6

.db NO_OP 0x00
.db LINETO_OP 0x02

jmp :begining

.at 4
    reti

:begining

:loop
	call :no_op
    lda LCD_ARG0
    add X_INC
    sta LCD_ARG0
    
    lda LCD_ARG1
    add Y_INC
    sta LCD_ARG1
	call :line_to_op
    jmp :loop

:no_op
	lda NO_OP
    sta LCD_OP
	ret

:line_to_op
	lda LINETO_OP
    sta LCD_OP
	ret
                            </textarea>
          </div>
        </td>
        <td valign="top">
          <div class="view-sub-title">
            <div class="icon-holder">
              <span class="ui-icon ui-icon-document"></span>
            </div>
            Assembled
          </div>
          <div id="editor-assembled-area">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <thead>
              <tr>
                <td id="editor-assembled-area-head-first">At</td>
                <td>Opcode</td>
                <td>Mnemonic</td>
              </tr>
              </thead>
              <tbody id="editor-assembled-area-entries">
              <tr id="editor-assembled-area-entry">
                <td class="editor-assembled-line"></td>
                <td></td>
                <td class="editor-assembled-mnemonic"></td>
              </tr>
              <tr class="editor-assembled-area-deletable-entry">
                <td class="editor-assembled-line">-</td>
                <td>-</td>
                <td class="editor-assembled-mnemonic">-</td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
  <div class="view-sub-title">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-carat-1-e"></span>
    </div>
    Actions
  </div>
  <div class="view-body">
    <div>
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <button id="editor-assemble-button">Assemble</button>
          </td>
          <td>
            <button id="editor-load-button">Load to memory</button>
          </td>
          <td>
            <div id="editor-assemble-status"></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="lib/codemirror/lib/codemirror.js"></script>
<script src="lib/codemirror/mode/jshm/jshm.js"></script>
<script src="view/editor/editor.js" type="text/javascript"></script>
