<link href="view/editor/editor.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="lib/codemirror/lib/codemirror.css">

<div id="editor-holder" class="view-holder draggable-item">
    <div id="editor-title" class="view-title draggable-handler">
        <div class="icon-holder">
            <span class="ui-icon ui-icon-note"></span>
        </div> 
        Assembly editor
    </div>
    <div id="editor-body" class="view-body">
        <table>
            <tbody> 
                <tr>
                    <td valign="top">
                        <div class="view-sub-title">
                            <div class="icon-holder">
                                <span class="ui-icon ui-icon-pencil"></span>
                            </div> Assembly
                        </div>
                        <div id="editor-code-area-holder">
                            <textarea id="editor-code-area"></textarea>
                        </div>
                        <div class="view-sub-title"  id="editor-assemble-status"></div>
                    </td>
                    <td valign="top">
                        <div class="view-sub-title">
                            <div class="icon-holder">
                                <span class="ui-icon ui-icon-document"></span>
                            </div> Assembled
                        </div>
                        <div id="editor-assempled-area">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <td id="editor-assempled-area-head-first">At</td>
                                        <td>Value</td>
                                        <td>Mnemonic</td>
                                    </tr>
                                </thead>
                                <tbody id="editor-assempled-area-entries">
                                    <tr id="editor-assempled-area-entry">
                                        <td class="editor-assembled-line"></td>
                                        <td></td>
                                        <td class="editor-assembled-mnemonic"></td>
                                    </tr>
                                    <tr class="editor-assempled-area-deletable-entry">
                                        <td class="editor-assembled-line">-</td>
                                        <td>-</td>
                                        <td class="editor-assembled-mnemonic">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>
            
            
    </div>
    <div class="view-sub-title">
        <div class="icon-holder">
            <span class="ui-icon ui-icon-triangle-1-e"></span>
        </div> Actions
    </div>
    <div class="view-body">
        <div>
            <table>
                <tbody> 
                    <tr>
                        <td><button id="editor-assemble-button">Assemble</button></td>
                        <td><button id="editor-load-button">Load to memory</button></td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>

<script src="lib/codemirror/lib/codemirror.js"></script>
<script src="lib/codemirror/mode/jshm/jshm.js"></script>
<script src="view/editor/editor.js" type="text/javascript"></script>
<script type="text/javascript">
    var listener = new UIEventListener(function() {
        EditorView.init();
    });
    UI.addEventListener(UI.EVENT.ON_INITIALIZE, listener);
</script>
