<link href="view/editor/editor.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="lib/codemirror/lib/codemirror.css">

<div id="editor-holder" class="view-holder draggable-item">
    <div id="editor-title" class="view-title draggable-handler">
        <div class="icon-holder">
            <span class="ui-icon ui-icon-note"></span>
        </div> 
        Assembly editor
    </div>
    <div id="editor-body" class="view-body">
        <table>
            <tbody> 
                <tr>
                    <td valign="top">
                        <div class="view-sub-title">
                            <div class="icon-holder">
                                <span class="ui-icon ui-icon-pencil"></span>
                            </div> Assembly
                        </div>
                        <div id="editor-code-area-holder">
                            <textarea id="editor-code-area">
.def OP_ADDR  0xfd
.def ARG0_ADDR  0xfe
.def ARG1_ADDR  0xff

.def X_INC_ADDR 0xfb
.def Y_INC_ADDR 0xfc

.def MOVETO_OP 0xfa
.def LINETO_OP 0xf9

.db ARG0_ADDR 0x00
.db ARG1_ADDR 0x00

.db X_INC_ADDR 5
.db Y_INC_ADDR 200

.db MOVETO_OP 0x00
.db LINETO_OP 0x01
    
jmp :begining

.at 4
    reti

:begining
    
    lda LINETO_OP
    sta OP_ADDR

:loop

    lda ARG0_ADDR
    add X_INC_ADDR
    sta ARG0_ADDR
    
    lda ARG1_ADDR
    add Y_INC_ADDR
    sta ARG1_ADDR
    jmp :loop

                            

# This is a example of how
# to count down from 127 to 0

# Defining address
#.def NUMBER_ADDR 0xf0
#.def INC_ADDR 0xf1
#.def STORE_ADDR 0x0f2

#.def INT_COUNT_ADDR 0xf3
#.def INT_COUNT_INC_ADDR 0xf4

# Putting data into the memory
# 127
#.db NUMBER_ADDR 0x7f

# -1
#.db INC_ADDR 0xff
    
# 1
#.db INT_COUNT_INC_ADDR 0x01
    
#jmp :begining

# Interrupts here
#.at 4

#	lda INT_COUNT_ADDR
#   add INT_COUNT_INC_ADDR
#	sta INT_COUNT_ADDR
    
#    reti

# Begining of the program
#:begining
    
    # Load
#	lda NUMBER_ADDR

#:add_point

#	call :sum_subroutine
    
    # Jump if zero
#    jz :sleep_point
    
    # Jump
#    jmp :add_point
    
# Sleep
#:sleep_point

#	hlt
    
# Sum subroutine
#:sum_subroutine

	# Add from
#	add INC_ADDR
    
	# Store the AC
#    sta STORE_ADDR
    
    # Return of the subroutine
#    ret
                            </textarea>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="view-sub-title">
                            <div class="icon-holder">
                                <span class="ui-icon ui-icon-document"></span>
                            </div> Assembled
                        </div>
                        <div id="editor-assempled-area">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                    <tr>
                                        <td id="editor-assempled-area-head-first">At</td>
                                        <td>Opcode</td>
                                        <td>Mnemonic</td>
                                    </tr>
                                </thead>
                                <tbody id="editor-assempled-area-entries">
                                    <tr id="editor-assempled-area-entry">
                                        <td class="editor-assembled-line"></td>
                                        <td></td>
                                        <td class="editor-assembled-mnemonic"></td>
                                    </tr>
                                    <tr class="editor-assempled-area-deletable-entry">
                                        <td class="editor-assembled-line">-</td>
                                        <td>-</td>
                                        <td class="editor-assembled-mnemonic">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>
            
            
    </div>
    <div class="view-sub-title">
        <div class="icon-holder">
            <span class="ui-icon ui-icon-triangle-1-e"></span>
        </div> Actions
    </div>
    <div class="view-body">
        <div>
            <table>
                <tbody> 
                    <tr>
                        <td><button id="editor-assemble-button">Assemble</button></td>
                        <td><button id="editor-load-button">Load to memory</button></td>
                        <td><div class="view-sub-title"  id="editor-assemble-status"></div></td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>

<script src="lib/codemirror/lib/codemirror.js"></script>
<script src="lib/codemirror/mode/jshm/jshm.js"></script>
<script src="view/editor/editor.js" type="text/javascript"></script>
<script type="text/javascript">
    var listener = new UIEventListener(function() {
        EditorView.init();
    });
    UI.addEventListener(UI.EVENT.ON_INITIALIZE, listener);
</script>
