<link href="view/oscillator/oscillator.css" rel="stylesheet" type="text/css">

<div id="oscillator-holder" class="view-holder draggable-item">
  <div id="oscillator-title" class="view-title draggable-handler">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-heart"></span>
    </div>
    Oscillator
  </div>
  <div class="view-body">
    <div id="oscillator-current-frequency">
      Current frequency:<span id="oscillator-slider-label">0</span> Hz
    </div>
  </div>
  <div class="view-sub-title">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-carat-1-e"></span>
    </div>
    Choose the frequency
  </div>
  <div class="view-body">
    <div id="oscillator-slider"></div>
  </div>
  <div class="view-sub-title">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-carat-1-e"></span>
    </div>
    Buttons
  </div>
  <div class="view-body">
    <div>
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <button id="oscillator-clock-out-button" class="oscillator-button">Pulse</button>
          </td>
          <td><input type="checkbox" id="oscillator-clocking-button" checked="checked" class="oscillator-button"/><label
             for="oscillator-clocking-button">Oscillate</label></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="view/oscillator/oscillator.js" type="text/javascript"></script>
