.glcd-cell {
    width: 5px;
    height: 5px;
}

.glcd-pixel-on {
    background-color: #00a;
}

.glcd-pixel-off {
    background-color: #fafafa;
}

#glcd-box {
    border: 1px solid #aaa;
}

#glcd-title {
    background-color: #eee;
    padding: 2px 4px;
}

#glcd-grid {
    padding: 2px;
}

#glcd-text {
    font-size: 10px;
}

#glcd-grid-footer {
    padding: 2px 4px;
}


