<link href="view/settings/settings.css" rel="stylesheet"
      type="text/css">

<div id="settings-holder" class="view-holder draggable-item">
  <div id="settings-title" class="view-title draggable-handler">
    <div class="icon-holder">
      <span class="ui-icon ui-icon-gear"></span>
    </div>
    Settings
  </div>
  <div id="settings-body" class="view-body">
    <table>
      <tr>
        <td>Radix:</td>
        <td>
          <div id="settings-radix">
            <input type="radio" id="settings-radix-2" radix="2" name="radio"><label for="settings-radix-2">Bin</label>
            <input type="radio" id="settings-radix-8" radix="8" name="radio"><label for="settings-radix-8">Oct</label>
            <input type="radio" id="settings-radix-10" radix="10" name="radio"><label for="settings-radix-10">Dec</label>
            <input type="radio" id="settings-radix-16" radix="16" name="radio" checked="checked"><label for="settings-radix-16">Hex</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Custom positions:</td>
        <td>
          <button id="settings-reset-position-button">Reset</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<script src="view/settings/settings.js" type="text/javascript"></script>
