<link href="view/memory/memory.css" rel="stylesheet" type="text/css">
<script src="view/memory/memory.js" type="text/javascript"></script>

<div id="console-holder" class="draggable-item">
    <div id="console-title" class="draggable-handler">
        <div class="icon-holder">
            <span class="ui-icon ui-icon-tag"></span>
        </div> 
        Main memory
    </div>
    <div id="console-body">
        <div id="console-log"></div>
        <input type="text" id="console-edit" />
    </div>
</div>

<script type="text/javascript">
    ConsoleView.init();
</script>
